#### 백준 단계별 풀어보기 재귀

재귀함수가.. 뭔데..? (금시초문)   
라는 저같은 분들을 위해 적는 머리말~    
함수 안에서 자기 자신을 호출하는 방법입니다.
일반적인 상황보다는 알고리즘을 구현할 때 자주 사용한다고 합니다.    
어차피 글로 보는 것보다 직접 머리써가면서 구현하는게 훨씬 이해가 빠를테니 문제 풀이로 바로 들어가 보겠습니다.

>1단계 팩토리얼   
   
문제   
0보다 크거나 같은 정수 N이 주어진다. 이때, N!을 출력하는 프로그램을 작성하시오.

입력   
첫째 줄에 정수 N(0 ≤ N ≤ 12)이 주어진다.

출력   
첫째 줄에 N!을 출력한다.

In [ ]:
#10872번
n =  int(input())
def factorial(x):
    if x==0: # 0 먼저 컷해주기 0! 은 1임!! 
        return(1)
    elif x>1: #1은 곱해줘봤자 1이니까 굳이 한 번 더 곱해줄 필요 없음
       return x* factorial(x-1)
    elif x == 1:
        return(1)
print(factorial(n)) #처음에 프린트 안해줘서 틀림..

12

479001600

>2단계 피보나치 수 5 

문제   
피보나치 수는 0과 1로 시작한다. 0번째 피보나치 수는 0이고, 1번째 피보나치 수는 1이다. 그 다음 2번째 부터는 바로 앞 두 피보나치 수의 합이 된다.

이를 식으로 써보면 Fn = Fn-1 + Fn-2 (n ≥ 2)가 된다.

n=17일때 까지 피보나치 수를 써보면 다음과 같다.

0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597

n이 주어졌을 때, n번째 피보나치 수를 구하는 프로그램을 작성하시오.

입력   
첫째 줄에 n이 주어진다. n은 20보다 작거나 같은 자연수 또는 0이다.

출력   
첫째 줄에 n번째 피보나치 수를 출력한다.

In [ ]:
#10870
n = int(input())

def fibo(x):
    if x==0:
        return 0
    elif x==1 :
        return 1
    elif x>=2 :
        return fibo(x-2)+fibo(x-1) #풀긴 풀었는데 어케 돌아가는건지 원.. 
print(fibo(n))

10
55

>3단계 재귀함수가 뭔가요?    

문제   
평소에 질문을 잘 받아주기로 유명한 중앙대학교의 JH 교수님은 학생들로부터 재귀함수가 무엇인지에 대하여 많은 질문을 받아왔다.

매번 질문을 잘 받아주셨던 JH 교수님이지만 그는 중앙대학교가 자신과 맞는가에 대한 고민을 항상 해왔다.

중앙대학교와 자신의 길이 맞지 않다고 생각한 JH 교수님은 결국 중앙대학교를 떠나기로 결정하였다.

떠나기 전까지도 제자들을 생각하셨던 JH 교수님은 재귀함수가 무엇인지 물어보는 학생들을 위한 작은 선물로 자동 응답 챗봇을 준비하기로 했다.

JH 교수님이 만들 챗봇의 응답을 출력하는 프로그램을 만들어보자.

입력   
교수님이 출력을 원하는 재귀 횟수 N(1 ≤ N ≤ 50)이 주어진다.

출력   
출력 예시를 보고 재귀 횟수에 따른 챗봇의 응답을 출력한다.

In [ ]:
#17478
n = int(input())

def whatisjg(x):
    if x>0:
        x= x-1
        
        return whatisjg(x-1)
    if x==0:
        return "재귀함수는 자기 자신을 호출하는 함수라네"
print(whatisjg(n))

IndentationError: ignored

>4단계 별 찍기
   
문제   
재귀적인 패턴으로 별을 찍어 보자. N이 3의 거듭제곱(3, 9, 27, ...)이라고 할 때, 크기 N의 패턴은 N×N 정사각형 모양이다.

크기 3의 패턴은 가운데에 공백이 있고, 가운데를 제외한 모든 칸에 별이 하나씩 있는 패턴이다.

$***$   
$*$　  $*$   
$***$  
N이 3보다 클 경우, 크기 N의 패턴은 공백으로 채워진 가운데의 (N/3)×(N/3) 정사각형을 크기 N/3의 패턴으로 둘러싼 형태이다. 예를 들어 크기 27의 패턴은 예제 출력 1과 같다.

입력
첫째 줄에 N이 주어진다. N은 3의 거듭제곱이다. 즉 어떤 정수 k에 대해 N=3k이며, 이때 1 ≤ k < 8이다.

출력
첫째 줄부터 N번째 줄까지 별을 출력한다.

In [ ]:
def nemo (x):
    if x ==1:
        return
    else: 
        return nemo(x/3)

>5단계 하노이 탑 이동순서

문제   
세 개의 장대가 있고 첫 번째 장대에는 반경이 서로 다른 n개의 원판이 쌓여 있다. 각 원판은 반경이 큰 순서대로 쌓여있다. 이제 수도승들이 다음 규칙에 따라 첫 번째 장대에서 세 번째 장대로 옮기려 한다.

한 번에 한 개의 원판만을 다른 탑으로 옮길 수 있다.
쌓아 놓은 원판은 항상 위의 것이 아래의 것보다 작아야 한다.
이 작업을 수행하는데 필요한 이동 순서를 출력하는 프로그램을 작성하라. 단, 이동 횟수는 최소가 되어야 한다.

입력
첫째 줄에 첫 번째 장대에 쌓인 원판의 개수 N (1 ≤ N ≤ 20)이 주어진다.

출력
첫째 줄에 옮긴 횟수 K를 출력한다.

두 번째 줄부터 수행 과정을 출력한다. 두 번째 줄부터 K개의 줄에 걸쳐 두 정수 A B를 빈칸을 사이에 두고 출력하는데, 이는 A번째 탑의 가장 위에 있는 원판을 B번째 탑의 가장 위로 옮긴다는 뜻이다.

In [ ]:
#11729번
n = int(input())

***
* *
 ***